{
  "parser": "babel-eslint",
  "env": {
    "browser": "true",
    "jasmine": "true"
  },
  extends: [
    "standard",
    "standard-react"
  ],
  "globals": {
    "__DEBUG__": false
  },
  "rules": {
  }
}